/* Dodatkowe style pod mobilne nagłówki i spacing */
h1, .f1 { letter-spacing: .2px; }
ul { margin-left: 1rem; }

/* Dla głównego opisu na stronach listujących */
.nested-copy-line-height.mid-gray { /* Używam dwóch klas dla większej specyficzności */
    font-family: 'Open Sans', sans-serif; /* Przykładowa czcionka */
    font-size: 1.1rem; /* Nieco większy rozmiar */
    line-height: 1.6; /* Większy odstęp między liniami */
}

/* Dla tytułów pojedynczych wpisów na stronach listujących */
h1.f3.near-black { /* Używam tagu i klas dla specyficzności */
    font-family: 'Roboto', sans-serif; /* Inna przykładowa czcionka */
    font-weight: 700; /* Pogrubienie */
    color: #333; /* Ciemniejszy kolor */
}

/* Dla treści pojedynczych wpisów */
.nested-links.f5.lh-copy {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

/* Możesz też ustawić domyślną czcionkę dla całego body, jeśli chcesz, aby większość tekstu miała tę samą czcionkę */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Zapewnienie wyraźnego białego koloru tekstu w przyciskach */
.link.bg-dark-blue.hover-bg-blue {
    color: #FFFFFF !important; /* Czysty biały, z !important dla pewności */
}